<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="com.bredexsw.examples.mailbase.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.bredexsw.examples.base.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.bredexsw.examples.base.Perspective"
            id="base.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Message"
            allowMultiple="true"
            icon="icons/sample2.gif"
            class="com.bredexsw.examples.base.View"
            id="base.view">
      </view>
      <view
            name="Mailboxes"
            allowMultiple="true"
            icon="icons/sample3.gif"
            class="com.bredexsw.examples.base.NavigationView"
            id="base.navigationView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="base.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="base.category"
            id="base.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="base.category"
            id="base.openMessage">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="base.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+2">
      </key>
      <key
            commandId="base.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+3">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
   </extension>
   <extension
         id="com.bredexsw.examples.mailbase.product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.bredexsw.examples.mailbase.application"
            name="Usability Example">
         <property
               name="aboutText"
               value="RCP Mail template created by PDE">
         </property>
         <property
               name="windowImages"
               value="icons/sample2.gif">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="com.bredexsw.examples.mailbase.product">
      </introProductBinding>
   </extension>

</plugin>
